<div class="nav-bar">
  <div class="nav-bar-left flex">
    <img
      (click)="openMenu()"
      id="hamburger"
      src="../assets/images/icon-menu.svg"
      alt="menu button"
    />
    <img src="../assets/images/logo.svg" alt="logo" />
  </div>

  <div class="nav-bar-right flex">
    <div class="nav-cart">
      <img src="../assets/images/icon-cart.svg" alt="cart" />
      <span *ngIf="numOfItemsInCart > 0">{{ numOfItemsInCart }}</span>
    </div>
    <img id="avatar" src="./assets/images/image-avatar.png" alt="avatar" />
  </div>
</div>

<div *ngIf="isMenuOpen" class="cover"></div>

<div *ngIf="isMenuOpen" class="hamburger-menu" [@inOutAnimation]>
  <img (click)="openMenu()" src="../assets/images/icon-close.svg" alt="close" />
  <ul>
    <li><a>Collections</a></li>
    <li><a>Men</a></li>
    <li><a>Women</a></li>
    <li><a>About</a></li>
    <li><a>Contact</a></li>
  </ul>
</div>

<div class="grid-container">
  <div class="image-slider">
    <div class="img-buttons">
      <div class="img-previous img-button">
        <img src="../assets/images/icon-previous.svg" alt="previous" />
      </div>

      <div class="img-next img-button">
        <img src="../assets/images/icon-next.svg" alt="next" />
      </div>
    </div>
  </div>

  <div class="product-description">
    <div class="description-text">
      <h2>SNEAKER COMPANY</h2>
      <h1>Fall Limited Edition Sneakers</h1>
      <p>
        These low-profile sneakers are your perfect casual wear companion.
        Featuring a durable rubber outer sole, they'll withstand everything the
        weather can offer.
      </p>
    </div>

    <div class="price">
      <div class="new-price">
        <h1>$125.00</h1>
        <span>50%</span>
      </div>

      <div class="old-price">
        <span>$250.00</span>
      </div>
    </div>
  </div>

  <div class="add-to-cart">
    <div class="number-of-items">
      <img
        (click)="changeNumber('minus')"
        src="../assets/images/icon-minus.svg"
        alt="minus"
      />
      <span>{{ numOfItems }}</span>
      <img
        (click)="changeNumber('plus')"
        src="../assets/images/icon-plus.svg"
        alt="plus"
      />
    </div>

    <button (click)="addItemsToCart()">
      <!-- <img src="../assets/images/icon-cart.svg" alt="cart add" /> -->
      <svg id="cart-svg" class="icon">
        <use xlink:href="../assets/icons.svg#icon-cart"></use>
      </svg>
      <span>Add to cart</span>
    </button>
  </div>
</div>
