<div class="nav-bar">
  <div class="nav-bar-left flex">
    <img
      (click)="openMenu('hamburger')"
      id="hamburger"
      src="assets/images/icon-menu.svg"
      alt="menu button"
    />
    <img src="assets/images/logo.svg" alt="logo" />
  </div>

  <div class="menu">
    <ul>
      <li><a>Collections</a></li>
      <li><a>Men</a></li>
      <li><a>Women</a></li>
      <li><a>About</a></li>
      <li><a>Contact</a></li>
    </ul>
  </div>

  <div class="nav-bar-right flex">
    <div (click)="openMenu('cart')" class="nav-cart">
      <svg id="nav-cart-svg" class="icon">
        <use xlink:href="assets/icons.svg#nav-icon-cart"></use>
      </svg>
      <span *ngIf="numOfItemsInCart > 0">{{ numOfItemsInCart }}</span>
    </div>
    <img id="avatar" src=".assets/images/image-avatar.png" alt="avatar" />
  </div>
</div>
<hr id="nav-bar-hr" />

<div (click)="openMenu('hamburger')" *ngIf="isMenuOpen" class="cover"></div>

<div *ngIf="isMenuOpen" class="hamburger-menu" [@inOutAnimation]>
  <img
    (click)="openMenu('hamburger')"
    src="assets/images/icon-close.svg"
    alt="close"
  />
  <ul>
    <li><a>Collections</a></li>
    <li><a>Men</a></li>
    <li><a>Women</a></li>
    <li><a>About</a></li>
    <li><a>Contact</a></li>
  </ul>
</div>

<div
  (click)="openMenu('cart')"
  *ngIf="isCartOpen"
  class="cover cart-cover"
></div>

<div class="cart-menu-wrapper">
  <div *ngIf="isCartOpen" class="cart-menu" [@outInAnimation]>
    <h4>Cart</h4>
    <hr />
    <div class="cart-items">
      <p *ngIf="numOfItemsInCart == 0">Your cart is empty</p>
      <div class="cart-item" *ngIf="numOfItemsInCart > 0">
        <img
          id="cart-product-img"
          src="assets/images/image-product-1-thumbnail.jpg"
          alt="cart item"
        />
        <div class="cart-item-description">
          <p>Autumn Limited Edition...</p>
          <p>
            $125.00 x {{ numOfItemsInCart }}
            <span style="color: var(--very-dark-blue); font-weight: 600"
              >${{ 125 * numOfItemsInCart }}</span
            >
          </p>
        </div>
        <!-- <img
          (click)="deleteItems()"
          src="assets/images/icon-delete.svg"
          alt="cart delete"
        /> -->
        <svg class="icon" (click)="deleteItems()">
          <use xlink:href="assets/icons.svg#icon-delete"></use>
        </svg>
      </div>
      <button *ngIf="numOfItemsInCart > 0">Checkout</button>
    </div>
  </div>
</div>

<div class="grid-container">
  <div class="image-slider" (click)="zoomSlider()">
    <div class="img-buttons">
      <div
        (click)="imageSlider('previous', 'default')"
        class="img-previous img-button"
      >
        <!-- [ngClass]="{ 'image-btn-disabled': currentImageIndex == 1 }" -->
        <img src="assets/images/icon-previous.svg" alt="previous" />
      </div>

      <div (click)="imageSlider('next', 'default')" class="img-next img-button">
        <!-- [ngClass]="{ 'image-btn-disabled': currentImageIndex == 4 }" -->
        <img src="assets/images/icon-next.svg" alt="next" />
      </div>
    </div>
  </div>

  <div *ngIf="isSliderZoomed == true" class="image-slider-zoomed-wrapper">
    <div class="image-slider-zoomed-cover" (click)="zoomSlider()"></div>
    <div class="image-slider-zoomed">
      <div class="img-buttons">
        <div
          (click)="imageSlider('previous', 'zoomed')"
          class="img-previous img-button"
        >
          <!-- [ngClass]="{ 'image-btn-disabled': currentImageIndex == 1 }" -->
          <img src="assets/images/icon-previous.svg" alt="previous" />
        </div>

        <div
          (click)="imageSlider('next', 'zoomed')"
          class="img-next img-button"
        >
          <!-- [ngClass]="{ 'image-btn-disabled': currentImageIndex == 4 }" -->
          <img src="assets/images/icon-next.svg" alt="next" />
        </div>
      </div>
    </div>
    <div class="small-images">
      <div class="small-image-bg">
        <img
          (click)="changeImage(1, 'zoomed')"
          [ngClass]="{
            'small-images-active': currentImageIndex == 1 && isSliderZoomed
          }"
          src="assets/images/image-product-1-thumbnail.jpg"
          alt=""
        />
      </div>
      <div class="small-image-bg">
        <img
          (click)="changeImage(2, 'zoomed')"
          [ngClass]="{
            'small-images-active': currentImageIndex == 2 && isSliderZoomed
          }"
          src="assets/images/image-product-2-thumbnail.jpg"
          alt=""
        />
      </div>
      <div class="small-image-bg">
        <img
          (click)="changeImage(3, 'zoomed')"
          [ngClass]="{
            'small-images-active': currentImageIndex == 3 && isSliderZoomed
          }"
          src="assets/images/image-product-3-thumbnail.jpg"
          alt=""
        />
      </div>
      <div class="small-image-bg">
        <img
          (click)="changeImage(4, 'zoomed')"
          [ngClass]="{
            'small-images-active': currentImageIndex == 4 && isSliderZoomed
          }"
          src="assets/images/image-product-4-thumbnail.jpg"
          alt=""
        />
      </div>
    </div>
  </div>

  <div class="small-images">
    <img
      (click)="changeImage(1, 'default')"
      [ngClass]="{
        'small-images-active': currentImageIndex == 1 && !isSliderZoomed
      }"
      src="assets/images/image-product-1-thumbnail.jpg"
      alt=""
    />
    <img
      (click)="changeImage(2, 'default')"
      [ngClass]="{
        'small-images-active': currentImageIndex == 2 && !isSliderZoomed
      }"
      src="assets/images/image-product-2-thumbnail.jpg"
      alt=""
    />
    <img
      (click)="changeImage(3, 'default')"
      [ngClass]="{
        'small-images-active': currentImageIndex == 3 && !isSliderZoomed
      }"
      src="assets/images/image-product-3-thumbnail.jpg"
      alt=""
    />
    <img
      (click)="changeImage(4, 'default')"
      [ngClass]="{
        'small-images-active': currentImageIndex == 4 && !isSliderZoomed
      }"
      src="assets/images/image-product-4-thumbnail.jpg"
      alt=""
    />
  </div>

  <div class="product-description">
    <div class="description-text">
      <h2>SNEAKER COMPANY</h2>
      <h1>Fall Limited Edition Sneakers</h1>
      <p>
        These low-profile sneakers are your perfect casual wear companion.
        Featuring a durable rubber outer sole, they'll withstand everything the
        weather can offer.
      </p>
    </div>

    <div class="price">
      <div class="new-price">
        <h1>$125.00</h1>
        <span>50%</span>
      </div>

      <div class="old-price">
        <span>$250.00</span>
      </div>
    </div>
  </div>

  <div class="add-to-cart">
    <div class="number-of-items">
      <svg class="icon plus-minus-svg" (click)="changeNumber('minus')">
        <use xlink:href="assets/icons.svg#icon-minus"></use>
      </svg>

      <span>{{ numOfItems }}</span>

      <svg class="icon plus-minus-svg" (click)="changeNumber('plus')">
        <use xlink:href="assets/icons.svg#icon-plus"></use>
      </svg>
    </div>

    <button (click)="addItemsToCart()">
      <!-- <img src="assets/images/icon-cart.svg" alt="cart add" /> -->
      <svg id="cart-svg" class="icon">
        <use xlink:href="assets/icons.svg#icon-cart"></use>
      </svg>
      <span>Add to cart</span>
    </button>
  </div>
</div>
