@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap");

:root {
  /* primary */
  --orange: hsl(26, 100%, 55%);
  --pale-orange: hsl(25, 100%, 94%);

  /* Neutral */
  --very-dark-blue: hsl(220, 13%, 13%);
  --dark-grayish-blue: hsl(219, 9%, 45%);
  --grayish-blue: hsl(220, 14%, 75%);
  --light-grayish-blue: hsl(223, 64%, 98%);
  --white: hsl(0, 0%, 100%);
  --black: hsl(0, 0%, 0%);

  /* font */
  --font: "Kumbh Sans";
}

@keyframes slider {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* nav bar starts */
.nav-bar {
  position: sticky;
  top: 0;
  background-color: var(--white);
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.menu {
  display: none;
}

#nav-bar-hr {
  display: none;
}

#avatar {
  max-width: 20%;
  border: 2px solid transparent;
}

.flex {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 1em;
  gap: 1em;
  margin-left: 10%;
}

.nav-bar-right {
  justify-content: right;
  gap: 2em;
}

.nav-cart {
  position: relative;
}

.nav-cart:hover {
  cursor: pointer;
}

.nav-cart:hover > #nav-cart-svg {
  fill: var(--very-dark-blue);
}

.nav-cart span {
  position: absolute;
  top: -5px;
  width: 15px;
  text-align: center;
  right: -5px;
  /* padding: 0.01em 0.05em; */
  font-size: 0.6rem;
  font-family: var(--font);
  border-radius: 50%;
  background-color: var(--orange);
  color: var(--white);
}

.cart-menu-wrapper {
  width: 100%;
  position: absolute;
  background-color: transparent;
  margin-top: 0.5rem;
  display: flex;
  justify-content: center;
}

.cart-menu {
  z-index: 999;
  background-color: var(--white);
  color: var(--very-dark-blue);
  display: flex;
  flex-direction: column;
  width: 95%;
  border-radius: 10px;
  max-width: 500px;
  font-family: var(--font);
}

.cart-menu h4 {
  padding-left: 1rem;
}

hr {
  width: 100%;
  border: none;
  border-top: 1px solid var(--grayish-blue);
  opacity: 0.6;
}

.cart-items {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  min-height: 200px;
  padding-top: 1rem;
}

.cart-items p {
  font-weight: 600;
  color: var(--dark-grayish-blue);
}

.cart-item {
  display: flex;
  align-items: center;
  align-self: flex-start;
  justify-content: space-between;
  width: 90%;
}

#cart-product-img {
  width: 3rem;
  height: 3rem;
  border-radius: 5px;
}

.cart-item-description {
  line-height: 0.5;
}

.cart-item-description p {
  font-weight: 100;
}

.cart-items button {
  width: 90%;
  padding: 1.5em;
  border-radius: 1em;
  border: none;
  background-color: var(--orange);
  color: var(--white);
  font-family: var(--font);
  font-weight: 600;
  margin-top: -100px;
}

.nav-bar-left {
  margin-left: 0;
}

.flex img {
  max-width: 100%;
  object-fit: contain;
}

#hamburger {
  width: 20px;
}

.hamburger-menu {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  background-color: var(--white);
  width: 60%;
  height: 100%;
  padding: 2em 0em 0em 2em;
}

.hamburger-menu ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  margin-top: 3em;
}

.hamburger-menu li {
  padding-bottom: 1.5em;
}

.hamburger-menu a {
  color: var(--very-dark-blue);
  font-family: var(--font);
  font-weight: 600;
}

.cover {
  position: absolute;
  overflow: hidden;
  top: 0;
  right: 0;
  height: 100%;
  width: 100%;
  z-index: 2;
  background-color: var(--black);
  opacity: 75%;
}

.cart-cover {
  opacity: 0%;
}

/*nav bar ends*/

/* grid container starts */
.grid-container {
  display: grid;
}
/* grid container ends */

/* image slider starts */
.image-slider {
  max-width: 100%;
  height: 400px;
  background-image: url("../assets/images/image-product-1.jpg");
  background-size: cover;
  background-position: center;
  display: flex;
}

.small-images {
  display: none;
}

.img-buttons {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1em;
}

.img-button {
  display: grid;
  place-items: center;
  align-items: center;
  background-color: white;
  padding: 1em 1.2em;
  border-radius: 50%;
}

.image-btn-disabled,
.image-btn-disabled img {
  opacity: 0.6;
  background-color: var(--grayish-blue);
}

/* image slider ends */

/* product description starts */
.product-description {
  width: 90%;
  display: flex;
  flex-direction: column;
  place-self: center;
  font-family: var(--font), sans-serif;
  color: var(--very-dark-blue);
}

.description-text h2 {
  font-size: 1rem;
  color: var(--orange);
  margin-top: 1.5em;
}

.description-text p {
  color: var(--dark-grayish-blue);
  font-size: 1.1rem;
}

.price {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.new-price span {
  /* discount percentage */
  background-color: var(--pale-orange);
  padding: 0.3em 0.5em;
  border-radius: 0.3em;
  color: var(--orange);
  font-weight: bold;
}

.new-price {
  display: flex;
  align-items: center;
  gap: 1.5em;
}

.old-price {
  color: var(--dark-grayish-blue);
  font-weight: 600;
  opacity: 50%;
  text-decoration: line-through;
  text-decoration-thickness: 1.5px;
}
/* product description ends */

/* add to cart starts */
.add-to-cart {
  display: flex;
  flex-direction: column;
  width: 90%;
  place-self: center;
  gap: 1em;
  padding-bottom: 100px;
}

.number-of-items {
  display: flex;
  justify-content: space-between;
  padding: 1em;
  background-color: var(--light-grayish-blue);
  border-radius: 5px;
  font-weight: bold;
  font-family: var(--font);
  user-select: none;
}

.number-of-items svg {
  object-fit: contain;
}

.plus-minus-svg {
  width: 0.8em !important;
  fill: var(--orange);
}

.plus-minus-svg:hover {
  opacity: 0.6;
}

.add-to-cart button {
  padding: 1em;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1em;
  border-radius: 5px;
  border: none;
  font-family: var(--font);
  background-color: var(--orange);
  color: var(--white);
  font-weight: 600;
  user-select: none;
}

.icon {
  width: 1em;
  height: 1em;
}

#cart-svg {
  fill: var(--white);
}

#nav-cart-svg {
  fill: var(--dark-grayish-blue);
}

/* add to cart ends */

/* desktop starts */

@media only screen and (min-width: 1024px) {
  /* desktop nav bar starts */
  .nav-bar {
    position: relative;
    justify-content: space-between;
  }

  .menu {
    display: block;
    align-self: center;
    text-align: left;
  }

  .menu ul {
    list-style-type: none;
    display: flex;
    gap: 2em;
  }

  .menu a {
    font-family: var(--font);
    font-size: 0.8rem;
    color: var(--dark-grayish-blue);
  }

  .menu a:hover {
    color: var(--grayish-blue);
    cursor: pointer;
  }

  #nav-bar-hr {
    display: block;
    border: none;
    border-bottom: 1px solid var(--grayish-blue);
  }

  .nav-cart {
    position: relative;
  }

  .nav-cart span {
    position: absolute;
    top: -5px;
    width: 15px;
    text-align: center;
    right: -5px;
    /* padding: 0.01em 0.05em; */
    font-size: 0.6rem;
    font-family: var(--font);
    border-radius: 50%;
    background-color: var(--orange);
    color: var(--white);
  }

  .nav-cart img {
    cursor: pointer;
  }

  .cart-menu {
    box-shadow: 5px 20px 30px hsla(0, 0%, 0%, 0.3);
  }

  #avatar:hover {
    border: 2px solid var(--orange);
    border-radius: 50%;
    cursor: pointer;
    border-spacing: 0;
  }

  .nav-bar-left {
    margin-left: 0;
  }

  #hamburger {
    display: none;
  }
  /* desktop nav bar ends */

  /* desktop grid container starts */
  .grid-container {
    margin-top: 10%;
    grid-template-columns: 400px 1fr;
    grid-template-areas:
      "slider desc"
      "smallImg addcart";
    align-items: center;
    column-gap: 10%;
  }
  /* desktop grid container ends */

  /* desktop image slider starts */
  .image-slider {
    grid-area: slider;
    max-width: 100%;
    height: 400px;
    background-image: url("../assets/images/image-product-1.jpg");
    background-size: cover;
    background-position: center;
    display: flex;
    border-radius: 5%;
  }

  .small-images {
    display: flex;
    justify-content: space-between;
    width: 100%;
    grid-area: smallImg;
  }

  .small-images img {
    width: 20%;
    border-radius: 10%;
  }

  .small-images img:hover {
    opacity: 0.6;
    cursor: pointer;
  }

  .small-images-active {
    outline: 3px solid var(--orange);
    opacity: 0.6;
  }

  .img-buttons {
    display: none;
  }

  /* desktop image slider ends */

  /* desktop product description starts */
  .product-description {
    grid-area: desc;
  }

  .description-text h1 {
    margin-top: 0;
  }

  .description-text h2 {
    font-size: 0.8rem;
    margin-top: 0em;
  }

  .description-text p {
    font-size: 0.9rem;
    margin: 0;
  }

  .price {
    flex-direction: column;
    align-items: flex-start;
  }

  .old-price {
    margin-top: -1em;
  }
  /* desktop product description ends */

  /* desktop add to cart starts */
  .add-to-cart {
    margin-top: 1rem;
    grid-area: addcart;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: "number addto addto";
  }

  .number-of-items {
    grid-area: number;
  }

  .number-of-items svg:hover {
    cursor: pointer;
  }

  .add-to-cart button {
    grid-area: addto;
  }

  .add-to-cart button:hover {
    opacity: 0.6;
    cursor: pointer;
    box-shadow: 0px 15px 10px var(--pale-orange);
  }

  /* desktop add to cart ends */
}

/* desktop ends */
